body{
  /* font: normal 13px/1.4em 'Merriweather', serif; */
  /* width: 800px; */
  /* width: 880px; */
  /* height: 100%; */
}
* { 
  font-family: DejaVu Sans !important; 
  /* width: 100px; */
  margin: 0;
  padding: 0;
}

p{
  font-size: 12px;
}

header{
  /* display: flex; */
  /* justify-content: center; */
  /* width: 800px; */

}

h2{
  position: absolute;
  top: 90px;
  width: 100%;
  text-align: center;
}
.left{
  position: absolute;
  top: 40px;
  width: 360px;
  text-align: center;
}

.Ten{
  position: absolute;
  width: 360px;
  text-align: center;
  top: -30px;
}

.right{
  position: absolute;
  right: 20px;
  top: 20px;
}

.thongTinKhachHang{
  position: absolute;
  left: 20px;
  top: 130px;

}
table{
  position: relative;
  top: 200px;
  left: 20px;
  border: 1px solid ;
  border-collapse: collapse;
  width: 95%;
}

table th td {
}
td,th{
  border: 1px solid ;
  font-size: 12px;
  padding: 3px 20px 3px 5px;
  
}
.test{
  border: 1px solid;
}

.noneBorder{
  border-left: hidden;
  /* border-bottom: hidden; */
}
.noneBorder1{
  border-bottom: hidden !important;
}
.noneBorder2{
  border-right: hidden !important;
}
footer{
  position: relative;
  top: 220px;
}

.leftFooter{
  position: absolute;
  width: 280px;
  text-align: center;
  left: 20px;
}
.rightFooter{
  position: absolute;
  right: 20px;
  width: 280px;
  text-align: center;
}
h6{
  font-size: 12px;
}
.italic{
  font-style: italic;
}
.DoanThaoVy{
  padding-top: 50px;
  font-size: 13px;
}