.font_logo {
    font-family: 'Playball', cursive;
    font-size: 25px;
    color: chocolate;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

.margin_12 {
    margin-left: -12px;
}

.color_tr {
    background-color: #b5d1f9;
}

.color_beige {
    background-color: beige !important;
}

.color_background {
    background-color: #12529b;
}

.color_background:hover {
    background-color: rgb(146, 0, 0);
}

.color_input {
    background-color: #dcebff;
}

.chiet_khau {
    width: 30%;
}

.flex {
    display: flex;
    align-items: center;
}

/* Alert */
#success {
    background: green;
}

#error {
    background: red;
}

#warning {
    background: coral;
}

#info {
    background: cornflowerblue;
}

#question {
    background: grey;
}

.font_size13{
    font-size: 1.3rem;
}
.color_red{
    color: red;
}